{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2 class="logo">FinLit</h2>
            <nav class="menu">
                <ul>
                    <li class="active">Overview</li>
                    <li>Accounts</li>
                    <li>Cards</li>
                    <li>Budgets</li>
                    <li>Goals</li>
                    <li>Transactions</li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <header class="header">
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                </div>
                <div class="user-settings">
                    <span class="date">Today is 19 September 2022</span>
                    <span class="username">John Doe</span>
                </div>
            </header>
            <section class="dashboard-overview">
                <div class="overview-cards">
                    <div class="card total-income">
                        <h3>Total Income</h3>
                        <div class="income-value">RS {{total_income}}</div>
                    </div>
                    <div class="card total-spent">
                        <h3>Total Spent</h3>
                        <div class="spent-value">RS {{total_expenses}}</div>
                    </div>
                    <div class="card cards-balance">
                        <h3>Savings</h3>
                        <div class="card-balance">RS {{savings}}</div>
                    </div>
                </div>
                <div class="income-vs-spent">
                    <h3>Compare Net Income and Spent</h3>
                    <div class="chart"></div>
                </div>
                <div class="goals">
                    <h3>Goals</h3>
                    <ul>
                        <li>New Car Purchase</li>
                        <li>Pay Off Credit Card Debt</li>
                        <li>Vacation Fund</li>
                        <li>Monthly Savings</li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
