<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Finance Tracker</h1>
    <a href="{% url 'trackit:login' %}">Login</a>
    <form method="post" action="{% url 'trackit:logout' %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'trackit:signup' %}">Sign Up</a>
    <a href="{% url 'trackit:add_income' %}">Add Income</a>
    <a href="{% url 'trackit:add_expense' %}">Add Expense Category</a>
    <a href="{% url 'trackit:transaction_list' %}">View Transactions</a>
</body>
</html>
