<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Finance Tracker</h1>
    <a href="{% url 'login' %}">Login</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'signup' %}">signup</a>
    <a href="{% url 'add_income' %}"> Add Income</a>
    <a href="{% url 'add_expense_category' %}">Add Expense Category</a>
    <a href="{% url 'add_transaction' %}">Add Transaction</a>
</body>
</html>
